server/node_modules/
mongo-express/
docs/
assignments/
passwords.csv
*/.DS_Store
.DS_Store
client/electron-app/node_modules
.vscode/
client/electron-app/conda_installers/
client/electron-app/release-builds/
