<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Neural Networks and Fuzzy Logic</title>
  </head>
  <body>
    <webview id="webview" src="<%= remoteServerAddr %>"></webview>
  </body>
</html>