<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
    <meta charset="UTF-8">
    <title>Neural Networks and Fuzzy Logic</title>
  </head>
  <body>
    <webview id="webview" src="<%= remoteServerAddr %>"></webview>
    <% include ./partials/js_imports.ejs %>
  </body>
</html>