<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head.ejs %>
    <title>Neural Nets & Fuzzy Logic | Docs</title>
</head>

<body class="fixed-navbar fixed-sidebar">
    <% if (user.isAdmin) { %>
            <% include ./partials/admin_header.ejs %> 
    <% } else { %>
        <% include ./partials/user_header.ejs %>
    <% } %>
    <% if (user.isAdmin) { %>
            <% include ./partials/admin_nav.ejs %> 
    <% } else { %>
        <% include ./partials/user_nav.ejs %>
    <% } %>
    <!-- Main Wrapper -->
    <div id=wrapper>
        <div class="small-header transition animated fadeIn">
            <div class=hpanel>
                <div class=panel-body>
                    <h2 class="font-light m-b-xs">Docs</h2></div>
            </div>
        </div>
        <div class="content animate-panel">
            <div>
                <div class=row>
                    <div class="col-lg-12">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <h4>Reference Documentation</h4>
                                        <table cellpadding="1" cellspacing="1" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <a onclick="docs.openInNewWindow('nnfl://docs/jupyter_numpy.html')" href="#" class="btn btn-info btn-xs" role="button">Numpy Tutorial</a>
                                                    </td>
                                                    <td>
                                                        <a onclick="docs.openInNewWindow('nnfl://docs/scipy-lectures/index.html')" href="#" class="btn btn-info btn-xs" role="button">Scientific Python Tutorials</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a onclick="docs.openInNewWindow('nnfl://docs/python/index.html')" href="#" 
                                                        class="btn btn-info btn-xs" role="button">Python Refrence</a>
                                                    </td>

                                                    <td>
                                                        <a onclick="docs.openInNewWindow('nnfl://docs/numpy/index.html')" href="#" class="btn btn-info btn-xs" role="button">Numpy Refrence</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a onclick="docs.openInNewWindow('nnfl://docs/python.pdf')" href="#" class="btn btn-info btn-xs" role="button">Python Chetsheet</a>
                                                    </td>
                                                
                                                    <td>
                                                        <a onclick="docs.openInNewWindow('nnfl://docs/numpy.pdf')" href="#" class="btn btn-info btn-xs" role="button">Numpy Cheatsheet</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a onclick="docs.openInNewWindow('nnfl://docs/matplotlib.pdf')" href="#" class="btn btn-info btn-xs" role="button">Matplotlib Chetsheet</a>
                                                    </td>
                                                
                                                    <td>
                                                        <a onclick="docs.openInNewWindow('nnfl://docs/sklearn.pdf')" href="#" class="btn btn-info btn-xs" role="button">Scikit-learn Cheatsheet</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a onclick="docs.openInNewWindow('nnfl://docs/pandas_basics.pdf')" href="#" class="btn btn-info btn-xs" role="button">Pandas Basics Chetsheet</a>
                                                    </td>
                                                
                                                    <td>
                                                        <a onclick="docs.openInNewWindow('nnfl://docs/pandas_advanced.pdf')" href="#" class="btn btn-info btn-xs" role="button">Pandas Advanced Cheatsheet</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a onclick="docs.openInNewWindow('nnfl://docs/algos.pdf')" href="#" class="btn btn-info btn-xs" role="button">ML Algos Chetsheet</a>
                                                    </td>
                                                
                                                    <td>
                                                        <a onclick="docs.openInNewWindow('nnfl://docs/nn_zoo.pdf')" href="#" class="btn btn-info btn-xs" role="button">Neural Networks Zoo</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a onclick="docs.openInNewWindow('nnfl://docs/bokeh.pdf')" href="#" class="btn btn-info btn-xs" role="button">Bokeh Chetsheet</a>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                </div>
                            </div>      
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class=footer>&copy; Team NNFL</footer>
        <% include ./partials/js_imports.ejs %>
    </div>
</body>

</html>
