<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head.ejs %>
    <title>Neural Nets & Fuzzy Logic | Login</title>
</head>

<body class="blank">
    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h1>Neural Nets & Fuzzy Logic</h1>
                    <small>Please enter login details to proceed</small>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <form role="form" id="loginForm" novalidate="novalidate" action="/login" method="post">
                            <div class="form-group">
                                <label class="control-label" for="username">Username</label>
                                <input type="text" placeholder="example@gmail.com" title="Please enter you username"  value="" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Password</label>
                                <input type="password" title="Please enter your password" placeholder="******"  value="" name="password" id="password" class="form-control">
                            </div>
                            <!-- show any messages that come back with authentication -->
                            <% if (typeof message !== 'undefined' && message.length > 0) { %>
                            <div class="form-group">                                
                                <label id="password-error" class="error" for="password"><%= message %></label>
                            </div>
                            <% } %>
                            <button class="btn btn-success btn-block">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                &copy; Team NNFL
            </div>
        </div>
    </div>
    
    <% include ./partials/js_imports.ejs %>
    <script>
        $(function(){
            $("#loginForm").validate({
                rules: {
                    username: {
                        required: true
                    },
                    password: {
                        required: true
                    }
                },
                submitHandler: function(form) {
                    username = $("#username").val()                    
                    password = $("#password").val()
                    session.login(username, password)

                    form.submit();
                }
            });
        });
    </script>
</body>

</html>
