<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
    <meta charset="UTF-8">
    <title>Neural Networks and Fuzzy Logic</title>
  </head>
  <body class="blank">
	    <div class="login-container">
	        <div class="row">
	            <div class="col-md-12">
	                <div class="text-center m-b-md">
	                    <h1>Neural Nets & Fuzzy Logic</h1>
	                    <small>Please enter Server details to proceed</small>
	                </div>
	                <div class="hpanel" style="margin-top: 50px">
						<!-- show any messages that come back with authentication -->
						<% if (typeof condaInstallError !== 'undefined' && condaInstallError.length > 0) { %>
							<div>                                
								<label class="error" for="remoteServerAddr"><%= condaInstallError %></label>
							</div>
						<% } else { %>
							<div class="text-center m-b-md">
								<div class="row">
									<div class="col-md-3"></div>
									<div class="col-md-6">
										<img src="../static/img/loader.gif" alt="loader">
									</div>
									<div class="col-md-3"></div>
								</div>
								<h4 style="font-weight: 600"> Setting up your environment. </h4>
								<h4> This might take a while. </h4>
							</div>
						<% } %>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-md-12 text-center">
	                &copy; Team NNFL
	            </div>
	        </div>
	    </div>
	    
	    <% include ./partials/js_imports.ejs %>
	</body>
</html>