<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Machine Learning</title>
    <link rel=stylesheet href=../static/css/client.css>
  </head>
  <body>
    <webview id="webview" src="<%= remoteServerAddr %>" 
      preload="../static/js/preload.js" nodeintegration>
    </webview>
  </body>
</html>