<!-- Navigation -->
<aside id=menu>
    <div id=navigation>
        <div class=profile-picture>
            <div class="stats-label text-color"> <span class="font-extra-bold font-uppercase"><%= user.name %></span> </div>
        </div>
        <ul class=nav id=side-menu>
            <li>
                <a href="/assignments"><span class=nav-label>Assignments</span> </a>
            </li>
            <li>
                <a href="/docs"> <span class=nav-label>Docs</span> </a>
            </li>
            <li>
                <a href="/manageAssignments"> <span class=nav-label>Manage Assignments</span> </a>
            </li>
            <li>
                <a href="/manageUsers"> <span class=nav-label>Manage Users</span> </a>
            </li>
            <li>
                <a href="/accountSettings"> <span class=nav-label>Account Settings</span></a>
            </li>
        </ul>
    </div>
</aside>